body {
    color: white;
    background: #ff0000;
    margin:0px;
    font-family: "Jersey 10", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section{
    background: rgb(223, 4, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
}

.video-lore {
    margin-right: 5%;
}